{% extends "layout.html" %}
{% block content %}
<!-- member only -->
<section id="about" class="two">
  <div class="container">

    <header>
      <h2>ご注文内容</h2>
    </header>

    <h3>以下でよろしいですか？</h3>
      <p>
        ご注文メニュー: {{ data.result.menu }}<br>
        ご注文金額: {{ data.result.amount }} 円<br>
        <!-- paymentAccessToken: {{ data.result.info.paymentAccessToken }}<br>
        transactionId: {{ data.result.info.transactionId }}<br>
        Payment Status Check Return Code: {{ data.result.returnCode }}<br>
        Payment Status Check Return Message: {{ data.result.returnMessage }}<br> -->
        <br>
        上記の内容でよろしければ、<br class="br-sp">お会計を済ませるために、<br class="br-sp">以下アイコンをクリックして下さい。<br>
        （ご利用の端末で LINE アプリが起動します）<br>
        <br>
        <a href="{{ data.result.info.paymentUrl.app }}" target="_blank" rel="noopener noreferrer">
          <img src="/static/img/linepay.png">
        </a>
        <br>
        <br>
        <a href="/member" rel="noopener noreferrer">居酒屋もちだオンラインにもどる</a>
      </p>
  </div>
</section>
{% endblock %}