{% extends "layout.html" %}
{% block content %}
<!-- member only -->
<section id="about" class="two">
  <div class="container">

    <header>
      <h2>ご注文のキャンセル</h2>
    </header>

    <h3>キャンセル結果</h3>
      {% if data.result %}
      キャンセル処理が正常に完了しました。<br>
      キャンセル対象取引番号 : <br>{{ data.result.transactionId }}<br>
      キャンセル対象注文番号 : <br>{{ data.result.orderId }}<br>
      {% else %}
      キャンセル処理に失敗しました。<br>
      大変お手数ではございますが、店長清武までご連絡をお願い致します。<br>
      {% endif %}
      <br>
      <a href="/member" rel="noopener noreferrer">居酒屋もちだオンラインにもどる</a><br>
      </p>
  </div>
</section>
{% endblock %}