{% extends "layout.html" %}
{% block content %}
<!-- Main Contents -->
<div id="main">

  <!-- SECTION: Intro -->
  <section id="top" class="one dark cover">
    <div class="container">
      <header>
        <h2 class="alt">居酒屋もちだ</h2>
        <h2 class="alt">オンライン</h2>
        <p>
          オンライン上で居酒屋もちだへ行こう！<br><br class="br-sp">
          みんなに会いたくても会えないこの状況。<br><br class="br-sp">
          <br><br class="br-sp">
          オンライン上でなら安心して会えますよね！<br><br class="br-sp">
          オンラインで居酒屋もちだを通して<br class="br-sp">生まれた新しい出会いを、<br><br class="br-sp">
          落ち着いたらまたこの店で、<br class="br-sp">オフラインでの出会いへ。<br><br class="br-sp">
          <br><br class="br-sp">
          地域 × 学生 × OB の憩いの場。<br><br class="br-sp">
          「居酒屋もちだオンライン」へようこそ！<br><br class="br-sp">
        </p>
      </header>
    </div>
  </section>

  <!-- member only -->
  <section id="about" class="two">
    <div class="container">

      <header>
        <h2>決済結果</h2>
      </header>


      <h3>ご注文ありがとうございます。</h3>
        <p>
          正常にお取引が完了しました。<br>
          <br>
          お取引番号 : {{ data.result.info.transactionId }}<br>
          お取引金額 : {{ data.result.info.packages.0.amount }} 円<br>
          ご注文内容 : {{ data.result.info.packages.0.products.0.name }}<br>
          <!-- Order ID : {{ data.result.info.orderId }}<br> -->
          <!-- Payment Status Check Return Code: {{ data.result.returnCode }}<br>
          Payment Status Check Return Message: {{ data.result.returnMessage }}<br>
          Payment Details: {{ data.result.info.payment_details }}<br> -->
          <br>
          <a href="/member" target="_blank" rel="noopener noreferrer">居酒屋もちだオンラインにもどる</a>
          <!-- お金を払い戻すには以下のリンクをクリックしてください<br>
          <a href="/member/pay/refund" target="_blank" rel="noopener noreferrer">払い戻し</a> -->
        </p>
    </div>
  </section>

</div>
{% endblock %}