{% extends "layout.html" %}
{% block content %}
<!-- Main Contents -->
<div id="main">

  <!-- SECTION: Intro -->
  <section id="top" class="one dark cover">
    <div class="container">
      <header>
        <h2 class="alt">早稲田の角打ち居酒屋</h2>
        <h2 class="alt">もちだ</h2>
        <p>
          地域 × 学生 × OB の憩いの場に。
        </p>
      </header>
    </div>
  </section>

  <!-- member only -->
  <section id="about" class="two">
    <div class="container">

      <header>
        <h2>もちだファンのみなさまへ</h2>
      </header>


      <h3>Order ID : {{ result.info.orderId }}</h3>
        <p>
          transactionId: {{ result.info.transactionId }}<br>
          purchase: {{ result.info.packages }}<br>
          Payment Status Check Return Code: {{ result.returnCode }}<br>
          Payment Status Check Return Message: {{ result.returnMessage }}<br>
          Payment Details: {{ result.info.payment_details }}<br>
          <br>
          <!-- お金を払い戻すには以下のリンクをクリックしてください<br>
          <a href="/member/pay/refund" target="_blank" rel="noopener noreferrer">払い戻し</a> -->
        </p>
    </div>
  </section>

</div>
{% endblock %}