{% extends "layout.html" %}

{% block content %}
<!-- About Me -->
<section id="about" class="two">
  <div class="container">

    <header>
      <h2>新型コロナウイルス対策について</h2>
    </header>
    <p>
      この度の新型コロナウイルス拡大に伴い、居酒屋もちだでは当面の間、営業時間を 20:00 までに短縮しております。<br>
      何卒ご理解のほどよろしくお願いいたします。<br>
      また、以下の対策を徹底して実施しております。<br>
      <div class="message">
        <ol class="sp-message">
          <li class="msg-text">常時店内の換気</li>
          <li class="msg-text">アルコール消毒</li>
          <li class="msg-text">お客様同士の距離を空ける</li>
        </ol>
      </div>
      安心してご来店いただけますよう<br class="br-sp">継続して注意してまいります。
    </p>

    <header>
      <h2>店主より</h2>
    </header>

    <a href="#" class="image featured"><img src="/static/img/about.jpg" alt="" /></a>

    <h3>早稲田の街を盛り上げたい</h3>
    <p>
      西早稲田に戦前からある「もちだ酒店」。<br>
      <br class="br-sp">
      古くから西早稲田商店街の中心として、地域住民や多くの学生、早稲田大学 OB の憩いの場となっていますが、<br class="narrow br-pad">
      近年は高齢化などの問題を抱え、閉店の危機を迎えていました。<br class="narrow br-pad">
      大学時代にもちだ酒店にお世話になった私は、店内奥の倉庫スペースを改装し、<br class="narrow br-pad">
      老若男女、多くの人が集い語らうことのでき、また新たに繋がりを生むことのできるアットホームな酒場を作ることを決意いたしました。<br>
      <br>
      目指す居酒屋の姿は下記のとおりです。<br>
      <div class="message">
        <ol class="sp-message">
          <li class="msg-text">おひとり様でもふらっと立ち寄ることができる。</li>
          <li class="msg-text">学生と大人、地域の方々を始めとしたお客様同士が気軽に語らいあえる。</li>
          <li class="msg-text">お客様同士の繋がりが構築できる。</li>
          <li class="msg-text">早稲田の街を盛り上げる拠点となる。</li>
          <li class="msg-text">早稲田の街の魅力を皆様へ発信する。</li>
        </ol>
      </div>
      是非一度、お気軽にお立ち寄りください。<br>
    </p>

  </div>
</section>

<!-- SECTION: Portfolio -->
<section id="portfolio" class="three">
  <div class="container">

    <header>
      <h2>おしながき</h2>
    </header>

    <div class="row">
      <!-- Image left -->
      <div class="col-4 col-12-mobile">
        <article class="item">
          <a href="#" class="image fit"><img src="/static/img/menu-1.png" alt="" /></a>
          <header>
            <p>
              塩ポテトサラダ<br><br class="br-sp">
              450 円<br><br class="br-sp">
            </p>
            <h3>
              <br><br class="br-sp">
              マヨネーズ未使用の当店オリジナルポテトサラダ。<br><br class="br-sp">
              呑兵衛にはたまらない塩加減と<br class="br-sp">スパイスの効いた味に仕上がっております。
            </h3>
          </header>
        </article>
        <article class="item">
          <a href="#" class="image fit"><img src="/static/img/menu-4.png" alt="" /></a>
          <header>
            <p>
              豚の青紫蘇ロール巻<br><br class="br-sp">
              550 円<br><br class="br-sp">
            </p>
            <h3>
              <br><br class="br-sp">
              豚と青紫蘇の最高のマッチングが完成！<br><br class="br-sp">
              こちらも大人気のメニューになっております。<br><br class="br-sp">
              柚子胡椒を付けて食べるとよりGood！
            </h3>
          </header>
        </article>
        <article class="item">
          <a href="#" class="image fit"><img src="/static/img/menu-7.png" alt="" /></a>
          <header>
            <p>
              塩昆布キャベツ<br><br class="br-sp">
              450 円<br><br class="br-sp">
            </p>
            <h3>
              <br><br class="br-sp">
              序盤のおつまみに最適。<br><br class="br-sp">
              食べはじめると止まらないやみつき塩キャベツです。
            </h3>
          </header>
        </article>
        <article class="item">
          <a href="#" class="image fit"><img src="/static/img/menu-10.png" alt="" /></a>
          <header>
            <p>
            　早稲田地ビール（白/黒）<br><br class="br-sp">
              750 円<br><br class="br-sp">
            </p>
            <h3>
              <br><br class="br-sp">
              ３店舗でのみ販売のちょこっとレアなビール。<br><br class="br-sp">
              まずはビールという方にトライして頂きたい味です。
            </h3>
          </header>
        </article>
      </div>

      <!-- Image middle -->
      <div class="col-4 col-12-mobile">
        <article class="item">
          <a href="#" class="image fit"><img src="/static/img/menu-2.png" alt="" /></a>
          <header>
            <p>
              山芋ポテトフライ<br><br class="br-sp">
              550 円<br><br class="br-sp">
            </p>
            <h3>
              <br><br class="br-sp">
              当店人気 No.1 のフードメニュー。<br><br class="br-sp">
              サクッと噛んだ後にやってくる山芋特有の歯ごたえが癖になる逸品です。
            </h3>
          </header>
        </article>
        <article class="item">
          <a href="#" class="image fit"><img src="/static/img/menu-5.png" alt="" /></a>
          <header>
            <p>
              ホタテのバター醤油炒め<br><br class="br-sp">
              400 円<br><br class="br-sp">
            </p>
            <h3>
              <br><br class="br-sp">
              おつまみにも最適。<br><br class="br-sp">
              バターと醤油が完璧に絡んだ一品です。<br><br class="br-sp">
              悩んだらとりあえずホタテ！
            </h3>
          </header>
        </article>
        <article class="item">
          <a href="#" class="image fit"><img src="/static/img/menu-8.png" alt="" /></a>
          <header>
            <p>
              日本酒各種<br><br class="br-sp">
              500 円～<br><br class="br-sp">
            </p>
            <h3>
              <br><br class="br-sp">
              豊富な日本酒を取り揃えております。<br><br class="br-sp">
              ご来店の際には、是非店主へ一言お声がけを！
            </h3>
          </header>
        </article>
        <article class="item">
          <a href="#" class="image fit"><img src="/static/img/menu-11.png" alt="" /></a>
          <header>
            <p>
              早稲田の杜（麦焼酎）<br><br class="br-sp">
              650 円<br><br class="br-sp">
            </p>
            <h3>
              <br><br class="br-sp">
              早稲田初の数ある焼酎の中でも珍しい銘柄。<br><br class="br-sp">
              早稲田を感じたい人におすすめです。
            </h3>
          </header>
        </article>
      </div>
      
      <!-- Image right -->
      <div class="col-4 col-12-mobile">
        <article class="item">
          <a href="#" class="image fit"><img src="/static/img/menu-3.png" alt="" /></a>
          <header>
            <p>
              半熟味付け煮たまご<br><br class="br-sp">
              330 円<br><br class="br-sp">
            </p>
            <h3>
              <br><br class="br-sp">
              特製のタレにじっくり付け込んだ煮たまご。<br><br class="br-sp">
              日本酒のおつまみにもバッチリです。
            </h3>
          </header>
        </article>
        <article class="item">
          <a href="#" class="image fit"><img src="/static/img/menu-6.png" alt="" /></a>
          <header>
            <p>
              ソーセージ三種盛<br><br class="br-sp">
              660 円<br><br class="br-sp">
            </p>
            <h3>
              <br><br class="br-sp">
              あらびき、ガーリック、チョリソー三種盛り合わせ。<br><br class="br-sp">
              塩も効いたお酒にも合うガッツリな一品です。
            </h3>
          </header>
        </article>
        <article class="item">
          <a href="#" class="image fit"><img src="/static/img/menu-9.png" alt="" /></a>
          <header>
            <p>
              生ビール（アサヒスーパードライ）<br><br class="br-sp">
              500 円<br><br class="br-sp">
            </p>
          </header>
        </article>
        <article class="item">
          <a href="#" class="image fit"><img src="/static/img/menu-12.png" alt="" /></a>
          <header>
            <p>
              ハイボール 420 円<br><br class="br-sp">
            　サワー類 450 円<br><br class="br-sp">
            </p>
          </header>
        </article>

      </div>
    </div>

    <br>
    <p>
      その他、フードおよびドリンクメニュー多数！<br>
      酒屋も合わせて営業中ですので、<br class="br-sp">お酒の購入とお持ち帰りも可能です！！<br>
    </p>

    <h3>学生奨学ボトルとは</h3>
    <p>
      社会人から学生へボトルを提供してあげる<br class="br-sp">居酒屋もちだ発祥の新商品です！<br>
      お金がない学生時代は、先輩によく奢ってもらったもの。<br>
      先輩から後輩へ、後輩から後輩へ。<br>
      飲んだ後輩はボトルに感謝を記載します。<br>
      古き良き「奢りの文化」を次世代へ継承していきましょう。<br>
      <br>
      学生奨学ボトル 3,000 円〜<br>
      <img src="/static/img/bottlle.png" alt=""/><br>
    </p>

  </div>
</section>

<!-- access -->
<section id="access" class="five">
  <div class="container">
    <header>
      <h2>店舗情報</h2>
    </header>

    <h3>営業時間</h3>
    <p>
      最新の営業情報は、<a href="https://www.instagram.com/mochida_waseda/">Instagram</a> をご確認下さい。<br>
      <div class="message">
        <ul class="sp-message" style="list-style: none;">
          <li class="msg-text">月  18:00 ～ 22:00</li>
          <li class="msg-text">火  18:00 ～ 22:00</li>
          <li class="msg-text">水  18:00 ～ 22:00</li>
          <li class="msg-text">木  定休日</li>
          <li class="msg-text">金  18:00 ～ 22:00</li>
          <li class="msg-text">土  17:00 ～ 22:00</li>
          <li class="msg-text">日  17:00 ～ 21:00</li>
        </ul>
      </div>
      ※ 急な定休は <a href="https://twitter.com/WasedaMochida">Twitter</a> もしくは LINE 公式アカウントにて<br>事前に告知いたします。<br>
    </p>

    <h3>LINE 公式アカウント</h3>
    <p>
      <br>
      <img src="/static/img/mochida_line_qr.png" alt=""/><br>
    </p>

    <h3>アクセス</h3>
    <p>
      <strong>〒169-0051 <br class="br-sp">東京都新宿区西早稲田 3-1-20 西尾ビル 1F</strong><br>
      <br class="br-sp">
      早稲田駅: b3 出口から徒歩6分<br>
      東京メトロ東西線 早稲田駅から穴八幡宮横の坂を上り、<br class="br-sp">西早稲田交差点そば<br>
      ※ 西早稲田駅（徒歩11分）または 高田馬場駅（徒歩14分）<br class="br-sp">からもお越しいただけます。<br>
    </p>
    <div class="row">
      <div class="col-12 col-12-mobile">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.6685043467946!2d139.7138133158113!3d35.70977433601229!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d199caf43cf%3A0x2d68f3d44a30062c!2s3-ch%C5%8Dme-1%20Nishiwaseda%2C%20Shinjuku%20City%2C%20T%C5%8Dky%C5%8D-to%20169-0051!5e0!3m2!1sen!2sjp!4v1586186426268!5m2!1sen!2sjp" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </div>

  </div>
</section>

<!-- SECTION: Portfolio -->
<section id="view" class="three">
  <div class="container">

    <header>
      <h2>店舗内観・外観</h2>
    </header>

    <h3>店舗内観</h3>
    <br>

    <div class="row">
      <div class="col-4 col-12-mobile">
        <article class="item">
          <a href="#" class="image fit"><img src="/static/img/shop_view01.png" alt="" /></a>
        </article>
        <article class="item">
          <a href="#" class="image fit"><img src="/static/img/shop_view03.png" alt="" /></a>
        </article>
      </div>

      <div class="col-4 col-12-mobile">
        <article class="item">
          <a href="#" class="image fit"><img src="/static/img/shop_view02.png" alt="" /></a>
        </article>
        <article class="item">
          <a href="#" class="image fit"><img src="/static/img/shop_view04.png" alt="" /></a>
        </article>
      </div>

      <div class="col-4 col-12-mobile">
        <article class="item">
          <a href="#" class="image fit"><img src="/static/img/shop_view05.png" alt="" /></a>
        </article>
        <article class="item">
          <a href="#" class="image fit"><img src="/static/img/shop_view06.png" alt="" /></a>
        </article>
      </div>
    </div>

    <br>
    <h3>店舗外観</h3>
    <br>

    <div class="row">
      <div class="col-6 col-12-mobile">
        <article class="item">
          <a href="#" class="image fit"><img src="/static/img/shop_view_outside01.png" alt="" /></a>
        </article>
      </div>
      <div class="col-6 col-12-mobile">
        <article class="item">
          <a href="#" class="image fit"><img src="/static/img/shop_view_outside02.png" alt="" /></a>
        </article>
      </div>
    </div>

  </div>
</section>

<!-- Contact -->
<section id="contact" class="four">
  <div class="container">
    <header>
      <h2>ご予約・お問い合わせ</h2>
    </header>
    <p>
      <!-- TODO: Send mail to sukekiyoooooi@gmail.com -->
      下記までお気軽にお問い合わせください。<br>
      ご予約の場合は、日時と人数を記載の上、<br class="br-sp">ご連絡お願いいたします。<br>
    </p>
    <form method="post" action="/mail">
      <div class="row">
        <div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="お名前" /></div>
        <div class="col-6 col-12-mobile"><input type="text" name="email" placeholder="メールアドレス" /></div>
        <div class="col-12">
          <textarea name="message" placeholder="ご予約・お問い合わせ内容"></textarea>
        </div>
        <div class="col-12">
          <input type="submit" value="送信" />
        </div>
      </div>
    </form>
  </div>
</section>

{% endblock %}