<!DOCTYPE HTML>
<html>

<head>
  <title>立ち飲み居酒屋  もちだ</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="/static/css/main.css" />
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&display=swap" rel="stylesheet">
</head>

<body class="is-preload">
  <!-- Header -->
  <div id="header">
    <!-- Navigation Top -->
    <div class="top">
      <div id="logo">
        <h1 id="title"><a href="/">居酒屋 もちだ</a></h1>
        {% if not data.is_member_only %}
        <p>
          <br>
          営業時間：<br>
          月  18:00 ～ 22:00<br>
          火  18:00 ～ 22:00<br>
          水  18:00 ～ 22:00<br>
          木  定休日<br>
          金  18:00 ～ 22:00<br>
          土  17:00 ～ 22:00<br>
          日  17:00 ～ 21:00<br>
        </p>
        {% else %}
        <p>
          <br>
          開催日時：曜日検討中<br>
          週1回開催<br>
          曜日固定予定<br>
          <br>
        </p>
        {% endif %}
      </div>

      {% if not data.is_member_only %}
      <nav id="nav">
        <ul>
          <li><a href="#top" id="top-link"><span class="icon solid fa-home">ご挨拶</span></a></li>
          <li><a href="#about" id="about-link"><span class="icon solid fa-user">店主より</span></a></li>
          <li><a href="#portfolio" id="portfolio-link"><span class="icon solid fa-th">おしながき</span></a></li>
          <li><a href="#access" id="access-link"><span class="icon solid fa-map">店舗情報</span></a></li>
          <li><a href="#view" id="view-link"><span class="icon solid fa-image">店舗内観・外観</span></a></li>
          <li><a href="#contact" id="contact-link"><span class="icon solid fa-envelope">ご予約</span></a></li>
        </ul>
      </nav>
      {% else %}
      <nav id="nav">
        <ul>
          <li><a href="#top" id="top-link"><span class="icon solid fa-home">ご挨拶</span></a></li>
          <li><a href="#about" id="about-link"><span class="icon solid fa-user">居酒屋もちだオンラインとは</span></a></li>
          <li><a href="#portfolio" id="portfolio-link"><span class="icon solid fa-th">来店メニュー</span></a></li>
          <li><a href="#access" id="access-link"><span class="icon solid fa-shopping-cart">来店する</span></a></li>
          <li><a href="#contact" id="contact-link"><span class="icon solid fa-check-square">特定商法取引法に関して</span></a></li>
        </ul>
      </nav>
      {% endif %}
    </div>

    <!-- Navigation Bottum -->
    <div class="bottom">
      <ul class="icons">
        <li><a href="https://twitter.com/WasedaMochida" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/%E6%97%A9%E7%A8%B2%E7%94%B0%E3%81%AB%E4%BB%8A%E7%A7%8B%E6%96%B0%E3%81%97%E3%81%8F%E5%B1%85%E9%85%92%E5%B1%8B%E9%96%8B%E5%BA%97%E5%B1%85%E9%85%92%E5%B1%8B%E3%82%82%E3%81%A1%E3%81%A0-101106664589685/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i></a></li>
        <li><a href="https://www.instagram.com/mochida_waseda/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#contact"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>

  <!-- Main Contents -->
  <div id="main">
    {% if not data.is_member_only %}
    <!-- SECTION: Intro -->
    <section id="top" class="one dark cover">
      <div class="container">

        <header>
          <h2 class="alt">早稲田の角打ち風立ち飲み酒場</h2>
          <h2 class="alt">居酒屋もちだ</h2>
          <p>
            地域 × 学生 × OB の憩いの場に。<br><br class="br-sp">
            <br><br class="br-sp">
            早稲田にできた角打ち風立ち飲み酒場<br class="br-sp">居酒屋もちだです。<br><br class="br-sp">
            多くの出会いと温かさを生む空間を目指しています。<br><br class="br-sp">
          </p>
        </header>

        <footer>
          <a href="#portfolio" class="button scrolly">メニューを見る</a>
        </footer>

      </div>
    </section>
    {% else %}
    <!-- SECTION: Intro -->
    <section id="top" class="one dark cover">
      <div class="container">
        <header>
          <h2 class="alt">居酒屋もちだ</h2>
          <h2 class="alt">オンライン</h2>
          <p>
            オンライン上で居酒屋もちだへ行こう！<br><br class="br-sp">
            みんなに会いたくても会えないこの状況。<br><br class="br-sp">
            <br><br class="br-sp">
            オンライン上でなら安心して会えますよね！<br><br class="br-sp">
            オンラインで居酒屋もちだを通して<br class="br-sp">生まれた新しい出会いを、<br><br class="br-sp">
            落ち着いたらまたこの店で、<br class="br-sp">オフラインでの出会いへ。<br><br class="br-sp">
            <br><br class="br-sp">
            地域 × 学生 × OB の憩いの場。<br><br class="br-sp">
            「居酒屋もちだオンライン」へようこそ！<br><br class="br-sp">
          </p>
        </header>
      </div>
    </section>
    {% endif %}

    {% block content %}
    {% endblock %}
  </div>

  <!-- Footer -->
  <div id="footer">
    <ul class="copyright">
      <li>@hwakabh All rights reserved.</li><li>Design: <a href="http://html5up.net" target="_blank" rel="noopener noreferrer">HTML5 UP</a></li>
    </ul>
  </div>

  <!-- JavaScripts -->
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/jquery.scrolly.min.js"></script>
  <script src="/static/js/jquery.scrollex.min.js"></script>
  <script src="/static/js/browser.min.js"></script>
  <script src="/static/js/breakpoints.min.js"></script>
  <script src="/static/js/util.js"></script>
  <script src="/static/js/main.js"></script>
</body>

</html>