{% extends "layout.html" %}
{% block content %}
<!-- Main Contents -->
<div id="main">

  <!-- SECTION: Intro -->
  <section id="top" class="one dark cover">
    <div class="container">
      <header>
        <h2 class="alt">早稲田の角打ち居酒屋</h2>
        <h2 class="alt">もちだ</h2>
        <p>
          地域 × 学生 × OB の憩いの場に。
        </p>
      </header>
    </div>
  </section>

  <!-- member only -->
  <section id="about" class="two">
    <div class="container">

      <header>
        <h2>もちだファンのみなさまへ</h2>
      </header>


      <h3>LINE Pay で事前決済をする</h3>
      <p>このサービスの説明</p>
      <a href="#" class="image"><img src="/static/img/linepay.png" alt="" /></a>
    </div>
  </section>

</div>
{% endblock %}