{% extends "layout.html" %}
{% block content %}
<!-- Main Contents -->
<div id="main">

  <!-- SECTION: Intro -->
  <section id="top" class="one dark cover">
    <div class="container">
      <header>
        <h2 class="alt">居酒屋もちだオンライン</h2>
        <p>
          オンライン上で居酒屋もちだへ行こう！<br><br class="br-sp">
          みんなに会いたくても会えないこの状況。<br><br class="br-sp">
          <br><br class="br-sp">
          オンライン上でなら安心して会えますよね！<br><br class="br-sp">
          オンラインで居酒屋もちだを通して生まれた新しい出会いを落ち着いたらまたこの店で、オフラインでの出会いへ。<br><br class="br-sp">
          <br><br class="br-sp">
          地域 × 学生 × OB の憩いの場。<br><br class="br-sp">
          「居酒屋もちだオンライン」へようこそ！<br><br class="br-sp">
        </p>
      </header>
    </div>
  </section>

  <!-- member only -->
  <section id="about" class="two">
    <div class="container">

      <header>
        <h2>居酒屋もちだオンラインとは</h2>
      </header>

      <p>
        新型コロナウイルスの拡大を受けて、<br class="br-sp">居酒屋を始めとした飲食店へ足を運ぶことが困難なこの時世柄、<br class="narrow">
        皆様がご自宅から居酒屋もちだを楽しんで頂けますよう<br class="br-sp">「居酒屋もちだオンライン」<br class="br-sp">をオープンしました。<br>
        <br>
        店主清武と MC、また毎回変わるゲストの少人数3名にて居酒屋もちだ店内から、<br class="narrow">
        ビデオ会議ツールの Zoom を使用してオンライン飲み会を配信、主催致します。<br>
        毎回のゲストをその回の「1日店長」に任命しまして、ある程度のトークテーマを持った上でお客様方と一緒に会話を広げていきます。<br>
        <br>
        初対面の方々もオンライン上で仲良くなっていただき、落ち着いたらまた居酒屋もちだにてオフラインで乾杯ができる。<br>
        普段なかなかお店に来ることのできない方もオンラインだと容易に来店が可能ですよね。<br>
        <br>
        <br>
        <h3>「オンラインからオフラインへ。」</h3>
        地域 × 学生 × OB の憩いの場、居酒屋もちだ。<br>
        新しい居酒屋のスタイルを皆様で作っていきましょう！<br>
        <br>
        <h3>開催日時</h3>
        開催曜日検討中。<br>
        週 1 回の曜日固定で、時間帯は<br class="br-sp">【20:00 ～ 22:00 / 回】<br class="br-sp">を予定しております。<br>
        <br>
        <h3>来店料金</h3>
        1,000 円～（<a href="#portfolio">来店メニュー</a>をご参照ください）<br>
        <br>
        <h3>主催者・MC</h3>
        <img src="/static/img/mc_kiyotake.png" alt=""/><br>
        店主 : 清武大貴<br>
        福岡県出身 / 早稲田大文学部卒 / SHOCKERS 出身 / プロ野球、ラグビー好き<br>
        <br>
        <img src="/static/img/mc_hayashida.png" alt=""/><br>
        MC : 林田美学<br>
        静岡県出身 / 早稲田大教育学部3年 / ワセコレ2019 MC / 幼少期より和太鼓に打込む<br>
        <br>
        <h3>ゲスト</h3>
        各回に1名のゲストをお招きします。<br>
        ゲストをその回の「1日店長」とし、<br clss="br-sp">毎回ゲストにちなんだトークテーマを立てて、<br class="br-sp">会話を広げていきます。<br>
        （例）<br class="br-sp">1日店長が元プロ野球選手<br class="br-sp"> → トークテーマ : プロ野球<br>
        <br class="br-sp">
        1日店長が起業家<br class="br-sp"> → トークテーマ : ビジネス周りの話<br>
        <br class="br-sp">
        1日店長が有名サークルの学生<br class="br-sp"> → トークテーマ : 学生生活、サークル紹介<br>
        <br class="br-sp">
        　　　... etc<br>
      </p>

    </div>
  </section>

    <!-- SECTION: Portfolio -->
    <section id="portfolio" class="three">
      <div class="container">
  
        <header>
          <h2>来店メニュー</h2>
        </header>
  
        <p>
          居酒屋もちだオンラインご来店時に、<br class="br-sp">以下いずれかのメニューひとつをご購入ください。<br>
          決済は LINE Pay にて実行させていただきます。<br>
        </p>

        <div class="row">
          <div class="col-12 col-12-mobile">
            <article class="item">
              <header>
                <h3>① 1,000 円セット</h3>
                <p>実際の居酒屋もちだご来店時に、<br class="br-sp">生ビール/サワー/ハイボール/焼酎 <br class="br-sp">いずれか2杯までをサービス致します！</p>
                <br>
                <p>お支払いに進む</p>
                <a href="/member/pay/request" class="image"><img src="/static/img/linepay.png" alt="" /></a>
              </header>
            </article>
          </div>

          <div class="col-12 col-12-mobile">
            <article class="item">
              <header>
                <h3>② 3,000 円セット</h3>
                <p>実際の居酒屋もちだご来店時に、<br class="br-sp">生ビール/サワー/ハイボール/焼酎 <br class="br-sp">いずれか5杯までをサービス致します！</p>
                <br>
                <p>お支払いに進む</p>
                <a href="/member/pay/request" class="image"><img src="/static/img/linepay.png" alt="" /></a>
              </header>
            </article>
          </div>

          <div class="col-12 col-12-mobile">
            <article class="item">
              <header>
                <h3>③ ちょい漢気 5,000 円セット</h3>
                <p>
                  ・実際の居酒屋もちだご来店時に、<br class="br-sp">生ビール/サワー/ハイボール/焼酎 <br class="br-sp">いずれか3杯までをサービス致します！<br><br class="br-sp">
                  <br class="br-sp">
                  ・学生奨学ボトル1本(黒霧島 900ml)<br class="br-sp">を購入致します。<br>
                </p>
                <br>
                <p>お支払いに進む</p>
                <a href="/member/pay/request" class="image"><img src="/static/img/linepay.png" alt="" /></a>
              </header>
            </article>
          </div>

          <div class="col-12 col-12-mobile">
            <article class="item">
              <header>
                <h3>④	漢気 10,000 円セット</h3>
                <p>
                  ・実際の居酒屋もちだご来店時に、<br class="br-sp">生ビール/サワー/ハイボール/焼酎 <br class="br-sp">いずれか5杯までをサービス致します！<br><br class="br-sp">
                  <br class="br-sp">
                  ・学生奨学ボトル2本(黒霧島 900ml)<br class="br-sp">を購入致します。<br>
                </p>
                <br>
                <p>お支払いに進む</p>
                <a href="/member/pay/request" class="image"><img src="/static/img/linepay.png" alt="" /></a>
              </header>
            </article>
          </div>

        </div>

        <p>
          <h3>「学生奨学ボトル」とは</h3>
          社会人から学生へ、<br class="br-sp">自由に飲んでもいいよ<br class="br-sp">と入れてあげるボトルになります。<br>
          <br>
          学生は頂いた場合は、<br class="br-sp">感謝の気持ちをボトルに記載。<br>
          社会人になってからまた、<br class="br-sp">後輩にボトルを入れてあげる<br class="br-sp">という居酒屋もちだ発祥の商品です。<br>
        </p>

      </div>
    </section>

  <!-- access -->
  <section id="access" class="five">
    <div class="container">
      <header>
        <h2>来店する</h2>
      </header>
      <p>
        次回開催予定 〇月〇日（〇）<br class="br-sp">居酒屋もちだオンライン<br class="br-sp">来店へ<br>
        開店時間 20:00　閉店時間 22:00<br>
        <br>
        ZOOM URL<br>
        <br>
        ※ オンラインご来店前に、<br class="br-sp"><a href="#portfolio">「来店メニュー」</a><br class="br-sp">からいずれかのメニューをご購入ください。<br>
        今後のお店を存続するための大事なキャッシュとさせて頂きます。<br>
        何卒よろしくお願い致します。<br>
      </p>
      <p>
        居酒屋もちだ<br>
        <a href="/">公式ホームページ</a><br>
        事態が落ち着きましたら、是非ご来店下さい。<br>
      </p>
    </div>
  </section>


  </div>
{% endblock %}