{% extends "layout.html" %}
{% block content %}
<!-- member only -->
<section id="about" class="two">
  <div class="container">
    <p>
        <strong>※※※ <br class="br-sp">本ホームページは店主に無断で<br class="br-sp">SNS 等にて拡散することを禁止させて頂きます<br class="br-sp"> ※※※</strong>
    </p>

    <header>
      <h2>居酒屋もちだオンラインとは</h2>
    </header>

    <p>
      新型コロナウイルスの拡大を受けて、<br class="br-sp">居酒屋を始めとした飲食店へ足を運ぶことが困難なこの時世柄、<br class="narrow">
      皆様がご自宅から居酒屋もちだを楽しんで頂けますよう<br class="br-sp"><strong>「居酒屋もちだオンライン」</strong><br class="br-sp">をオープンしました。<br>
      <br>
      店主清武と MC、また毎回変わるゲストの少人数3名にて居酒屋もちだ店内から、<br class="narrow">
      ビデオ会議ツールの Zoom を使用してオンライン飲み会を配信、主催致します。<br>
      毎回のゲストをその回の「1 日店長」に任命しまして、<br class="br-sp">ある程度のトークテーマを持った上、<br class="br-sp">お客様方と一緒に会話を広げていきます。<br>
      <br>
      初対面の方々もオンライン上で仲良くなり、落ち着いたらまた居酒屋もちだにてオフラインで乾杯ができる。<br>
      普段なかなかお店に来ることのできない方も<br class="br-sp">オンラインだと容易に来店が可能ですよね。<br>
      <br>
      <br>
      <h3>「オンラインからオフラインへ。」</h3>
      地域 × 学生 × OB の憩いの場、居酒屋もちだ。<br>
      新しい居酒屋のスタイルを皆様で作っていきましょう！<br>
      <br>
      <h3>開催日時</h3>
      開催曜日検討中。<br>
      週 1 回の曜日固定で、時間帯は<br class="br-sp">【20:00 ～ 22:00 / 回】<br class="br-sp">を予定しております。<br>
      <br>
      <h3>来店料金</h3>
      1,000 円～<br>
      （<a href="#portfolio">来店メニュー</a>をご参照下さい）<br>
      <br>
      <h3>主催者・MC</h3>
      <img src="/static/img/mc_kiyotake.jpg" alt=""/><br>
      店主 : 清武大貴<br>
      福岡県出身/早稲田大文学部卒/SHOCKERS 出身/<br class="br-sp">プロ野球、ラグビー好き<br>
      <br>
      <img src="/static/img/mc_hayashida.png" alt=""/><br>
      MC : 林田美学<br>
      静岡県出身/早稲田大教育学部3年/ワセコレ2019 MC/<br class="br-sp">幼少期より和太鼓に打込む<br>
      <br>
      <h3>ゲスト</h3>
      各回に 1 名のゲストをお招きします。<br>
      ゲストをその回の「1 日店長」とし、<br class="br-sp">毎回ゲストにちなんだトークテーマを立てて、<br class="br-sp">会話を広げていきます。<br>
      <br class="br-sp">
      （例）<br>
      1 日店長が元プロ野球選手<br class="br-sp"> → トークテーマ : プロ野球<br>
      <br class="br-sp">
      1 日店長が起業家<br class="br-sp"> → トークテーマ : ビジネス周りの話<br>
      <br class="br-sp">
      1 日店長が有名サークルの学生<br class="br-sp"> → トークテーマ : 学生生活、サークル紹介<br>
      <br class="br-sp">
      など多数予定<br>
    </p>

  </div>
</section>

  <!-- SECTION: Portfolio -->
  <section id="portfolio" class="three">
    <div class="container">

      <header>
        <h2>来店メニュー</h2>
      </header>

      <p>
        居酒屋もちだオンラインご来店時に、<br class="br-sp">以下いずれかのメニューをひとつご購入下さい。<br>
        決済は LINE Pay にて実行させて頂きます。<br>
        選択したメニューの「LINE Pay」アイコンを押し、<br class="br-sp">決済へとお進み下さい。<br>
        <br>
        ご購入頂いた商品に関しては、<br class="br-sp">実際のご来店時にお引換え、ご提供させて頂きます。<br>
        <br>
        居酒屋もちだオンライン上で<br class="br-sp"> LINE Pay によりご購入頂いた学生奨学ボトルは、<br>
        実際のご来店時にメッセージを添え、<br class="br-sp">お客様より学生向けにご提供頂けますと幸いです。<br>
        <br>
        ご来店時 LINE Pay 決済完了画面をご提示下さい。
      </p>

      <div class="row">
        <div class="col-12 col-12-mobile">
          <article class="item">
            <header>
              <p><strong>① 1,000 円セット</strong></p>
              <p>
                ・生ビール/サワー/ハイボール/焼酎 <br class="br-sp">いずれか 2 杯まで
              </p>
              <p>お支払いに進む</p>
              <form action="/member/pay/request" method="post">
                <button type="submit" class="linepay" name="amount" value="1000"><img src="/static/img/linepay_process_order.png" alt="" /></button>
              </form>
            </header>
          </article>
        </div>

        <div class="col-12 col-12-mobile">
          <article class="item">
            <header>
              <p><strong>② 3,000 円セット</strong></p>
              <p>
                ・生ビール/サワー/ハイボール/焼酎 <br class="br-sp">いずれか 6 杯まで
              </p>
              <p>お支払いに進む</p>
              <form action="/member/pay/request" method="post">
                <button type="submit" class="linepay" name="amount" value="3000"><img src="/static/img/linepay_process_order.png" alt="" /></button>
              </form>
            </header>
          </article>
        </div>

        <div class="col-12 col-12-mobile">
          <article class="item">
            <header>
              <p><strong>③ ちょい漢気 5,000 円セット</strong></p>
              <p>
                ・生ビール/サワー/ハイボール/焼酎 <br class="br-sp">いずれか 5 杯まで<br><br class="br-sp">
                ・学生奨学ボトル 1 本(黒霧島 900ml)<br class="br-sp">
              </p>
              <p>お支払いに進む</p>
              <form action="/member/pay/request" method="post">
                <button type="submit" class="linepay" name="amount" value="5000"><img src="/static/img/linepay_process_order.png" alt="" /></button>
              </form>
            </header>
          </article>
        </div>

        <div class="col-12 col-12-mobile">
          <article class="item">
            <header>
              <p><strong>④	漢気 10,000 円セット</strong></p>
              <p>
                ・生ビール/サワー/ハイボール/焼酎 <br class="br-sp">いずれか 10 杯まで<br><br class="br-sp">
                ・学生奨学ボトル 2 本(黒霧島 900ml)<br class="br-sp">
              </p>
              <p>お支払いに進む</p>
              <form action="/member/pay/request" method="post">
                <button type="submit" class="linepay" name="amount" value="10000"><img src="/static/img/linepay_process_order.png" alt="" /></button>
              </form>
            </header>
          </article>
        </div>

      </div>

      <p>
        <h3>「学生奨学ボトル」とは</h3>
        社会人から学生へ、<br class="br-sp">「自由に飲んでもいいよ」<br class="br-sp">と入れてあげるボトルになります。<br>
        <br>
        学生は頂いた場合は、<br class="br-sp">感謝の気持ちをボトルに記載。<br>
        社会人になってからまた、<br class="br-sp">後輩にボトルを入れてあげる<br class="br-sp">という居酒屋もちだ発祥の商品です。
    </div>
  </section>

<!-- access -->
<section id="access" class="five">
  <div class="container">
    <header>
      <h2>来店する</h2>
    </header>
    <p>
      以下の Zoom URL より、<br class="br-sp">居酒屋もちだオンラインへご来店下さい。<br>
      <br>
      次回開催予定 〇月〇日（〇）<br class="br-sp">
      開店時間 20:00<br>
      閉店時間 22:00<br>
      <br>
        <a href="https://us02web.zoom.us/j/85881510865?pwd=Ym5nT2wzK2p2TE92V1pBekZTSHNQUT09">Zoom URL へ進む</a><br>
        （ご利用の端末で Zoom アプリが起動します）<br>
      <br>
      ※ オンラインご来店前に、<br class="br-sp"><a href="#portfolio">「来店メニュー」</a><br class="br-sp">からいずれかのメニューをご購入下さい。<br>
      <br class="br-sp">
      今後のお店を存続していくための<br class="br-sp">大事なキャッシュとさせて頂きます。<br>
      何卒よろしくお願い致します。<br>
    </p>
    <p>
      居酒屋もちだ<br>
      <a href="/">公式ホームページ</a><br>
      事態が落ち着きましたら、是非ご来店下さい。<br>
    </p>
  </div>
</section>

<!-- Contact -->
<section id="contact" class="four">
  <div class="container">
    <header>
      <h2>特定商法取引法に関する表記</h2>
    </header>
    <div>
      <table class="contracts">
        <tr>
          <th>販売業者</th>
          <td>居酒屋もちだ</td>
        </tr>
        <tr>
          <th>代表責任者</th>
          <td>清武大貴</td>
        </tr>
        <tr>
          <th>所在地</th>
          <td>東京都新宿区西早稲田 3-1-3 西尾ビル1F</td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td>080-3965-4641</td>
        </tr>
        <tr>
          <th>電話受付時間</th>
          <td>12:00 〜 23:00</td>
        </tr>
        <tr>
          <th>公開メールアドレス</th>
          <td>sukekiyoooooi@gmail.com</td>
        </tr>
        <tr>
          <th>ホームページ URL</th>
          <td><a href="https://waseda-mochida.herokuapp.com/member">https://waseda-mochida.herokuapp.com/member</a></td>
        </tr>
        <tr>
          <th>販売価格</th>
          <td>商品紹介ページをご参照下さい。</td>
        </tr>
        <tr>
          <th>引渡時期・引渡方法　</th>
          <td>お客様が指定した時間に店頭引渡し、LINE Pay による支払い</td>
        </tr>
        <tr>
          <th>代金の支払時期、支払方法</th>
          <td>ご注文時にお支払い、LINE Pay による支払い</td>
        </tr>
        <tr>
          <th>商品以外の費用</th>
          <td>消費税</td>
        </tr>
        <tr>
          <th>返品・交換・キャンセル等</th>
          <td>
            商品注文後の返品・キャンセルはお断りさせて頂きます。
            商品不良・品違いの場合のみ交換又は返金をお受け致します。
          </td>
        </tr>
        <tr>
          <th>返品期限</th>
          <td>
            商品不良・品違いがありましたら、払い戻しメニューよりご対応頂き、不備がございましたら代表責任者までご連絡下さい。
            商品の引き取りをさせて頂き、交換又は返金させて頂きます。
          </td>
        </tr>
      </table>
    </div>
  </div>
</section>
{% endblock %}