{% extends "layout.html" %}
{% block content %}
<!-- Main Contents -->
<div id="main">

  <!-- SECTION: Intro -->
  <section id="top" class="one dark cover">
    <div class="container">
      <header>
        <h2 class="alt">居酒屋もちだ</h2>
        <h2 class="alt">オンライン</h2>
        <p>
          オンライン上で居酒屋もちだへ行こう！<br><br class="br-sp">
          みんなに会いたくても会えないこの状況。<br><br class="br-sp">
          <br><br class="br-sp">
          オンライン上でなら安心して会えますよね！<br><br class="br-sp">
          オンラインで居酒屋もちだを通して<br class="br-sp">生まれた新しい出会いを、<br><br class="br-sp">
          落ち着いたらまたこの店で、<br class="br-sp">オフラインでの出会いへ。<br><br class="br-sp">
          <br><br class="br-sp">
          地域 × 学生 × OB の憩いの場。<br><br class="br-sp">
          「居酒屋もちだオンライン」へようこそ！<br><br class="br-sp">
        </p>
      </header>
    </div>
  </section>

  <!-- member only -->
  <section id="about" class="two">
    <div class="container">

      <header>
        <h2>お会計確認</h2>
      </header>


      <h3>ご注文内容</h3>
        <p>
          取引番号: {{ data.result.info.transactionId }}<br>
          ご注文メニュー: {{ data.result.menu }}<br>
          ご注文金額: {{ data.result.amount }} 円<br>
          <!-- paymentAccessToken: {{ data.result.info.paymentAccessToken }}<br>
          transactionId: {{ data.result.info.transactionId }}<br>
          Payment Status Check Return Code: {{ data.result.returnCode }}<br>
          Payment Status Check Return Message: {{ data.result.returnMessage }}<br> -->
          <br>
          上記の内容でよろしければ、お会計を済ませるために以下アイコンをクリックして下さい。<br>
          ※ ご利用のご端末で LINE アプリケーションが起動します。<br>
          <br>
          <a href="{{ data.result.info.paymentUrl.app }}" target="_blank" rel="noopener noreferrer">
            <img src="/static/img/linepay.png">
          </a>
        </p>
    </div>
  </section>

</div>
{% endblock %}