{% extends "layout.html" %}
{% block content %}
<!-- Main Contents -->
<div id="main">

  <!-- SECTION: Intro -->
  <section id="top" class="one dark cover">
    <div class="container">
      <header>
        <h2 class="alt">早稲田の角打ち居酒屋</h2>
        <h2 class="alt">もちだ</h2>
        <p>
          地域 × 学生 × OB の憩いの場に。
        </p>
      </header>
    </div>
  </section>

  <!-- member only -->
  <section id="about" class="two">
    <div class="container">

      <header>
        <h2>もちだファンのみなさまへ</h2>
      </header>


      <h3>LINE Pay API Request</h3>
        <p>
          paymentAccessToken: {{ result.info.paymentAccessToken }}<br>
          transactionId: {{ result.info.transactionId }}<br>
          Payment Status Check Return Code: {{ result.returnCode }}<br>
          Payment Status Check Return Message: {{ result.returnMessage }}<br>
          <br>
          お会計を済ませるためには、以下のリンクをクリックしてください<br>
          <a href="{{ result.info.paymentUrl.app }}" target="_blank" rel="noopener noreferrer">Go to paymentUrl</a>
        </p>
    </div>
  </section>

</div>
{% endblock %}